body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(250, 250, 240);
}

header{
    display: flex;
    text-align: center;
    align-items: center;
    height: 25px;
    width: 100%;
    height: 100px;
    gap: 50px;
    background-color: rgb(250, 250, 240);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

header img{
    width: 100px;
    height: 100px;
    margin: 0px 20px;
}

.mid{
    display: flex;
    font-size: 22px;
    /* gap: 50px; */
    text-align: center;
    color: rgb(35, 35, 35);
    font-weight: 500;
    height: 100px;
    
}



.mid p{
    padding: 36px 10px;
    margin: 0;
}

.normal a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.normal:hover{
    border-bottom: 5px solid rgb(28, 60, 71);
}
.khusus a{
    text-decoration: none; 
    color:rgb(230, 141, 85);
}


.right:last-child{
    margin-left: auto;
    gap: 10px;
    display: flex;
}

.right button{
    border: none;
    background-color: transparent;
    padding: 0 0;
}

.reg{
    text-decoration: none;
    font-size: 16px;
    border: 2px solid rgb(28, 60, 71);
    background-color: rgb(28, 60, 71);
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    font-weight: 600;
    transition: 0.3s ease;
}

.reg:hover{
    background-color: unset;
    color: rgb(28, 60, 71);
}

.log{
    text-decoration: none;
    font-size: 16px;
    border: 2px solid rgb(90, 144, 147);
    padding: 12px 45px;
    color: rgb(90, 144, 147);
    font-weight: 600;
    transition: 0.3s ease;

}
.log:hover{
    background-color: rgb(90, 144, 147);
    color: white;
}
.head-text{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.head-text h1{
    color: rgb(28, 60, 71);
    font-size: 45px;
    margin-bottom: 5px;
}

nav{
    display: flex;
    padding-left: 20px;
    gap: 50px;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgb(170, 170, 170);
    overflow: hidden;
    background-color: rgb(250, 250, 240);
    z-index: 1;
}
nav div{
    width: 150px;
    text-align: center;
    
}
nav a{
    font-size: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    /* padding: 35px 0; */
    padding-bottom: 35px;
    margin-top: 35px;
}
  
nav a:hover {
    color: rgb(156, 156, 156);
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + section {
    padding-top: 150px;
  }
  

section{
    padding: 50px;
    /* padding-top: 10px; */
    /* margin-top: 50px; */

    display: flex;
    flex-direction: column;
}
.beach-card img{
    width: 350px;
    height: 200px;
}

.all-beach{
    margin-top: 50px;
    /* margin-bottom: 100px; */
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.beach-card{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 25px 25px rgba(0, 0, 0, 0.159);
    /* background-color: rgb(255, 255, 255);
    width: 350px; */
    transition: 0.3s ease;
}
.beach-card:hover{
    transform: scale(1.1,1.1);

}

.desc-card{
    text-align: left;
    padding-left: 10px;
}
.beach-card h1{
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(28, 60, 71);
}
.beach-card h2{
    font-size: 14px;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.8);
}
.beach-card p{
    margin: 0;
    font-size: 16px;
}

.see-detail{
    display: flex; 
    margin-top: 20px;
    margin-bottom: 15px;
    align-items: center;
}


.view-place a{
    padding: 15px 150px; 
    text-decoration: none; 
    background-color: rgb(28, 60, 71); 
    color: white; 
    border: 2px solid rgb(28, 60, 71); 
    display: block;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s ease;

}

.view-place a:hover{
    color: rgb(28, 60, 71);
    background-color: unset;
}

footer{
    margin-top: 50px;
    height: 350px;
    background-color:rgb(28, 60, 71)
}

.head-footer{
    display: flex;
    padding-left: 70px;
    padding-top: 20px;
    gap: 40px;
    align-items: flex-start;
}
.head-footer h1{
    font-size: 24px;
    width: 220px;
    color: white

}
.head-footer p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.795);
    line-height: 1.2;
}

.foot-1{
    width: 700px;
    padding-right: 20px ;
}
.foot-2{
    width: 500px;
}

.footer-text{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-email input{
    width: 220px;
    height: 35px;
    border: none;
    padding-left: 10px;
}
.input-email button{
    border: 2px solid white;
    height: 37px;
    padding: 0 35px;
    background-color: unset;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;

}
.input-email button:hover{
    background-color: white;
    color: rgb(28, 60, 71)
}





